@font-face {
    font-family: 'CustomFont';
    src: url('./abadi-mt-extra-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: 'CustomFont', sans-serif;
}