@font-face {
    font-family: 'ClashDisplay';
    src: url('./clash-display/ClashDisplay-Semibold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
  font-family: 'ClashDisplay';
  src: url('./clash-display/ClashDisplay-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}