#home-container {
    display: flex;
    justify-content: center;
}

#profile-pic {
    display: flex;
    width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
    border: 10px #000000;
    border-radius: 5px;
}

#summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    max-width: 40%;
    text-align: justify;
}